<%- include('../partials/head') %>
<body class=" row align-items-center justify-content-center text-primary">
    <div class=" row align-items-center justify-content-center" style="margin-top:3%">
        <div class="col-sm-4 bg-dark border border-warning rounded shadow p-3 mb-5">
            <h2 class="text-center">Hasta luego <%= nombre %></h2>
            <meta http-equiv="refresh" content="2;url=/login" />
        </div>
    </div>
</body>
</html>