<div class=" row align-items-center justify-content-center" style="margin-top:10%">
    <div class="col-sm-4 bg-dark border-warning rounded shadow p-4 mb-6">
        <h2 class="text-center">Iniciar sesión</h2>
        <form id="formChat" action="/login" method="POST">
            <br>
            <input type="text" class="form-control" name="nombre" placeholder="Nombre" required>
            <br>
            <input type='submit' class="btn btn-success" value="Enviar"> </input>
        </form>
    </div>
</div>