<%- include('../partials/head') %>
<body class=" row align-items-center justify-content-center text-primary">
    <%- include('../partials/tablaProductos'); %>
    <%- include('../partials/chat'); %>
    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
</body>
</html>